---
layout: page
title: Javascript Examples - Web Development Guide - Helper Libraries - Developer Docs
class: contact-page
samples:
  - link: https://github.com/flybaseio/kudos
    title: Kudos
    summary: "An open source, plug and play library that can be used with your Flybase apps to add <code>Kudos</code> to any website or blog."
  - link: https://github.com/flybaseio/callcenter
    title: ACD Call center
    summary: "A sample embeddable call center that can be plugged into Salesforce or other CRMs"
  - link: https://github.com/flybaseio/sms-contact
    title: SMS Contact Center
    summary: "Flybase can be used with other services easily to build real-time experiences. This open source app built in Node, is a real-time Twilio-powered contact system that lets agents talk to customers from a browser to a customer's phone via SMS messages."
  - link: https://github.com/flybaseio/call-ads
    title: "Click to Call Call Center"
    summary: "A Real-time Click-to-call call center App powered by Flybase, Twilio and Node.js"
  - link: https://github.com/DataMcFly/live-blog
    title: Live Blog App
    summary: "Flybase and Twilio powered Live Blogging App, build in Node.js."
  - link: https://github.com/DataMcFly/mctodo
    title: McToDo
    summary: "A todo list app illustrating how to use Flybase to build a real-time todo list app."
  - link: https://github.com/DataMcFly/datamcfly-login
    title: dmLogin
    summary: "An open source library that can be used with your Flybase apps to provide user registration and authentication."
  - link: https://github.com/DataMcFly/dailysm
    title: Daily SMS
    summary: "An open source app built in Node that uses Flybase to store phone numbers and Twilio to send a daily SMS message."
  - link: https://github.com/flybaseio/flybase-work-queue
    title: Worker Queue
    summary: "An example of processing data using Flybase as a queuing system"
  - link: https://github.com/DataMcFly/sidegig
    title: SideGig.me
    summary: "An example of using the FIT stack to build a client-side only web app using Angular.js"
  - link: https://github.com/flybaseio/fit-stack
    title: FIT Stack
    summary: "A boilerplate framework for building rapid MVPs, the Fit Stack (Flybase, Interface, Thin servers) lets you quickly build out your apps."

---
<h2>Flybase Web Development Guide</h2>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Developer Docs</a></li>
		<li><a href="/web/">Javascript</a></li>
		<li class="active">Javascript Examples</li>
	</ol>
	
	<div class="text-center well">
		<h3>Javascript Examples</h3>
		<hr />
		<p>This page includes a list of <strong>open source applications</strong> or code examples that we maintain. These resources are geared to help you learn Flybase or speed up development time by using a drop in application.</p>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading">Open Source Example Apps</div>
		<div class="panel-body">
			<p>These example apps demonstrate some core concepts and common (and sometimes uncommon) uses of Flybase.</p>
			
			<table class="table table-bordered">
			<thead>
				<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>
			</thead>
			<tbody>	
{% if page.samples.size > 0 %}
	{% for item in page.samples %}
		<tr>
			<td class="text-nowrap">
				<strong><a href="{{ item.link }}">{{ item.title }}</a></strong>
			</td>
			<td style="text-align: left;">{{ item.summary }}
			</td>
		</tr>
	{% endfor %}
{% endif %}
			</tbody>
			</table>
		</div>
	</div>
	
	<p>Want other code samples? Get in touch with our <a href="/contact">support team</a>.</p>
</div>